body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

button {
  margin-top: 5px;
}

pre {
  background-color: #f1f1f1;
  padding: 10px;
  white-space: pre-wrap;
}
